<!DOCTYPE html>
<html>
  <head>
    <script src="../js/ui/jquery-3.2.1.slim.min.js"></script>
    <title>Login</title>
  </head>
  <body>
  <h1>Login</h1>
  <form>
    First name:<br>
    <input type="text" name="firstname" value="nakulh" id="username">
    <br>
    Password:<br>
    <input type="text" name="lastname" value="password" id="password">
    <br><br>
    <input type="submit" value="Submit" id="submit">
  </form>
  <script src="../js/firebase.js"></script>
  <script src="../js/db.js"></script>
  <script src="../js/firebase.js"></script>
  <script src="../js/login.js"></script>
  </body>
</html>
