<!doctype html>
<html lang="en">
  <head>
    <title>POS - Slurppy</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/styles.css">

    <!-- Font Link -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,900" rel="stylesheet">
    <script defer src="../js/ui/all.js"></script>
  </head>
  <body>

    <nav class="navbar navbar-expand navbar-dark">
      <a class="navbar-brand" href="javascript:void(0);">slurppy</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <button id="btn-orders" class="btn btn-flat-light">Orders</button>
          </li>
          <li class="nav-item">
            <a id="nav-item-user" class="nav-link" href="javascript:void(0);"><img src="images/slurppy-logo-white.png" alt="slurppy logo" height="25px" width="25px"></a>
            <div id="user-options-container">
              <div id="user-options-head">
                <div>
                  <p id="text-user-name">John Doe</p>
                  <p id="text-user-position">Manager</p>
                </div>
                <div class="ml-auto">
                  <span id="img-user-photo"><i class="far fa-user-circle" style="font-size:25px;"></i></span>
                </div>
              </div>
              <div id="user-options-body">
                <ul>
                  <li><a id="link-menu" href="menu.html">Menu</a></li>
                  <li><a id="link-report" href="reports.html">Reports</a></li>
                  <li><a id="link-order-history" href="orderHistory.html">Order History</a></li>
                  <li><a id="link-profile" href="account.html">Settings</a></li>
                  <li><a id="link-logout" href="javascript:void(0);">Sign Out</a></li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <div id="content-container" class="container-fluid">
      <div class="row" style="height: 100%;">

        <div id="order-summary-container" class="col-12 col-md-4 col-lg-3">
          <p class="section-header">Order</p>
          <button onclick="createNewOrder()" type="button">Click Me!</button>

          <table id="table-order-summary" class="table table-sm table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Item</th>
                    <th scope="col" class="text-center">Qty.</th>
                    <th scope="col" class="text-center">Amt.</th>
                </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row"><input id="order-item-checkbox-1" type="checkbox"></th>
                <td>Pancake with Maple Syrup</td>
                <td id="order-item-quantity-1" class="text-center">2</td>
                <td id="order-item-amount-1" class="text-center">398</td>
              </tr>
              <tr>
                <th scope="row"><i class="fas fa-utensils" aria-hidden="true"></i></th>
                <td>Red Velvet</td><td id="order-item-quantity-2" class="text-center">4</td>
                <td id="order-item-amount-2" class="text-center">1020</td>
              </tr>
              <tr>
                <th scope="row"><i class="fas fa-shopping-basket" aria-hidden="true"></i></th>
                <td>Latte</td><td id="order-item-quantity-4" class="text-center">4</td>
                <td id="order-item-amount-4" class="text-center">280</td>
                </tr>
            </tbody>
          </table>

          <div id="order-btn-container">
            <div class="row no-gutters">
              <button id="btn-remove-item" class="col btn btn-outline-danger btn-sm order-btn-options"><i class="far fa-trash-alt" aria-hidden="true" style="margin-right:10px;"></i>Remove</button>&nbsp;
              <button id="btn-send-item" class="col btn btn-dark btn-sm order-btn-options"><i class="fas fa-utensils" aria-hidden="true" style="margin-right:10px;"></i>Send</button>
            </div>
            <div class="row no-gutters">
              <button id="btn-mark-served" style="margin-top: 10px;" class="col btn btn-info btn-sm order-btn-options"><i class="fas fa-utensils" aria-hidden="true" style="margin-right:10px;"></i>Served</button>&nbsp;
              <button id="btn-mark-complete" style="margin-top: 10px;" class="col btn btn-success btn-sm order-btn-options"><i class="far fa-trash-alt" aria-hidden="true" style="margin-right:10px;"></i>Complete</button>
            </div>
            <div class="row no-gutters">
              <button id="btn-checkout" style="margin-top: 10px;" class="col-12 btn btn-primary order-btn-options"><i class="fas fa-credit-card" aria-hidden="true" style="margin-right:10px;"></i>checkout</button>
            </div>
          </div>

        </div>

        <div class="col-12 col-md-8 col-lg-9">
          <div id="category-container">
            <p class="section-header">Categories</p>
            <button id="cat-1" type="button" class="btn btn-outline-dark btn-menu">Brunch</button>
            <button id="cat-2" type="button" class="btn btn-outline-dark btn-menu">Salads</button>
            <button id="cat-3" type="button" class="btn btn-outline-dark btn-menu">Pancakes</button>
            <button id="cat-4" type="button" class="btn btn-outline-dark btn-menu">Waffles</button>
            <button id="cat-5" type="button" class="btn btn-outline-dark btn-menu">Soups</button>
            <button id="cat-6" type="button" class="btn btn-outline-dark btn-menu">Starters</button>
            <button id="cat-7" type="button" class="btn btn-outline-dark btn-menu">Black Burger</button>
            <button id="cat-8" type="button" class="btn btn-outline-dark btn-menu">Pasta</button>
            <button id="cat-9" type="button" class="btn btn-outline-dark btn-menu">Lasagna</button>
            <button id="cat-10" type="button" class="btn btn-outline-dark btn-menu">Risotto</button>
            <button id="cat-11" type="button" class="btn btn-outline-dark btn-menu">Shakes</button>
          </div>

          <div id="items-container" class="row">

            <div class="col-sm-8">
              <p id="items-header" class="section-header">Salads</p>
              <button id="item-4" type="button" class="btn btn-outline-dark btn-menu">Caeser Salad</button>
              <button id="item-5" type="button" class="btn btn-outline-dark btn-menu">Salad Italian</button>
              <button id="item-6" type="button" class="btn btn-outline-dark btn-menu">Spinach Mushroom Salad</button>
              <button id="item-7" type="button" class="btn btn-outline-dark btn-menu">Greek Salad</button>
            </div>

            <div class="col-sm-4">
              <p id="premodifier-header" class="section-header">Salad Italian</p>
              <div class="form-group form-row">
                <div class="col">
                  <select id="input-item-count" class="form-control no-border-radius">
                    <option selected>Quantity</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                  </select>
                </div>
              </div>
              <button id="btn-item-add" type="button" class="btn btn-dark btn-block btn-menu" style="margin-right:5px;">Add Item</button>
            </div>
          </div>

        </div>

      </div>
    </div>

    <div class="modal fade" id="orders-modal" tabindex="-1" role="dialog" aria-labelledby="seat-customer-modal-label" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="orders-modal-label">Current Orders</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <div id="orders-container">

              <div id="order-info-2">
                <div class="order-header">
                  <p>#<span id="order-info-id-2">2</span><span id="order-info-edit-2"><i class="fas fa-edit" aria-hidden="true"></i></span></p>
                  <p id="order-info-timer-2">00:00</p>
                </div>
                <div id="order-body-2">
                  <p>1x Chhola Bhatura</p>
                  <p>4x Samosa</p>
                  <p>2x Cold Drink</p>
                </div>
              </div>

              <div id="order-info-1">
                <div class="order-header">
                  <p>#<span id="order-info-id-1">1</span><span id="order-info-edit-1"><i class="fas fa-edit" aria-hidden="true"></i></span></p>
                  <p id="order-info-timer-1">00:00</p>
                </div>
                <div id="order-body-1">
                  <p>2x Paneer Paratha</p>
                  <p>1x Dosa</p>
                </div>
              </div>
            </div>
            <div class="modal-buttons-container">
              <button type="button" class="btn btn-outline-dark btn-block" data-dismiss="modal">Close</button>
            </div>

          </div>
        </div>
      </div>
    </div>

    <!-- <div id="footer"></div> -->
    <script src="../js/db.js"></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../js/ui/popper.min.js"></script>
    <script src="../js/ui/jquery-3.2.1.min.js"></script>
    <script src="../js/pos.js"></script>
    <script src="../js/ui/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/ui/posScripts.js"></script>
  </body>
</html>
