body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	background: #f9f9f9;
}

.navbar-border {
	box-shadow: 2px 2px 5px gray;
	-webkit-box-shadow: 2px 2px 5px gray;
	-moz-box-shadow: 2px 2px 5px gray;
}

.transition-500 {
	transition: 500ms;
}

.no-border-radius {
	border-radius: 0;
}

.btn-red {
	color: #fff;
	background: #e53935;
	border-color: #e53935;
	transition: 500ms;
}

.btn-red:hover {
	background: #c62828;
	border-color: #c62828;
}

.btn-flat-light {
	color: #fff;
	background: none;
	border-color: none;
	cursor: pointer;
	transition: 500ms;
}

.btn-flat-light:hover {
	color: #333;
	background: #fff;
	border-color: #fff;
}

.btn-flat-dark {
	color: #393939;
	background: none;
	border-color: none;
	cursor: pointer;
	transition: 500ms;
}

.btn-flat-dark:hover {
	color: #ffffff;
	background: #393939;
	border-color: #393939;
}

#overlay-menu {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-y: auto;
}

#overlay-menu-header{
	display: flex;
	background: #f6f6f6;
	padding-top: 10px;
	padding-bottom: 10px;
}

#overlay-menu-header > div {
	display: flex;
}

#overlay-menu-header > :last-child {
    justify-content: flex-end;
}

#overlay-menu-header > :nth-child(2) {
    justify-content: center;
}

#overlay-menu-header > div > p {
	margin: 0;
	padding: 15px;
	color: #3390ff;
	font-size: 0.9em;
	font-weight: 600;
}

#btn-close-menu {
    color: #999;
    font-size: 35px;
	transition: 500ms;
	text-decoration: none;
    float: right;
}

#btn-close-menu:hover {
    color: #000;
}

#overlay-menu-body {
	padding: 10px 0 0;
	height: 85%;
}

.section-header {
	color: #555;
	font-size: 0.9em;
	font-weight: 600;
}

#order-summary-container {
	border-right: none;
    border-bottom: 2px solid #aaa;
}

#table-order-summary {
	color: #444;
	line-height: 1.3;
}

#table-order-summary thead th {
	border-bottom: none;
}

#table-order-summary td, #table-order-summary th {
	border-top: none;
}

#order-btn-container {
	margin-bottom: 20px;
}

.order-btn-options {
	text-transform: uppercase;
	font-weight: 600;
	transition: 500ms;
	letter-spacing: 2px;
}

#category-container {
	border-bottom: 2px solid #aaa;
	margin-top: 10px;
}

#items-container > div {
	margin-top: 10px;
}

#items-container > :first-child {
	border-bottom: 2px solid #aaa;
}

.btn-menu {
    margin-right: 5px;
    margin-bottom: 10px;
    transition: 500ms;
    cursor: pointer;
}

#overlay-walkin {
	width: 0;
    height: 100%;
    background-color: #fff;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    transition: 500ms;
}

#overlay-walkin-header {
    background-color: #f4f4f4;
    padding: 10px 15px;
}

#btn-new-walkin {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 0.9em;
	font-weight: 500;
	border-color: transparent;
	border-radius: 0;
	cursor: pointer;
	transition: 400ms;
}

#btn-new-walkin:hover {
	border-color: #343a40;
}

#btn-close-walkin {
    color: #999;
    padding: 5px 0 0;
    float: right;
	text-decoration: none;
	transition: 500ms;
}

#btn-close-walkin:hover {
    color: #000;
}

div[id^="walkin-book-item-"] {
	display: flex;
	cursor: pointer;
	padding: 15px 20px;
}

div[id^="walkin-book-item-"]:hover {
	background: #fafafa;
}

div[id^="walkin-book-item-"] > p {
	color: #494949;
	font-weight: 600;
	margin: 0;
}

#overlay-walkin-body > :not(:last-child) {
    border-bottom: 1px solid #d9d9d9;
}

span[id^="walkin-guest-items-pos-"] {
	font-size: 12px;
	color: #777777;
	margin: 0 10px 0 0;
	padding: 1px 4px;
}

.navbar {
	padding-top: 0;
	padding-bottom: 0;
	background-color: #393939;
	z-index: 10;
}

#navbar-back-navigation {
	color: #ffffff;
	margin-right: 12px;
	font-size: 20px;
}

#btn-walkin {
	font-size: 0.8em;
	font-weight: 500;
	margin: 4px 5px 0 0;
	text-transform: uppercase;
	border-radius: 0;
	letter-spacing: 1px;
}

#user-options-container {
	width:250px;
	display: none;
	position: absolute;
	margin-left: -200px;
	z-index: 100;
	border: 1px solid #f4f4f4;
	box-shadow: 2px 2px 5px gray;
	-webkit-box-shadow: 2px 2px 5px gray;
	-moz-box-shadow: 2px 2px 5px gray;
}

#user-options-container:before {
    content: "";
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-bottom-color: #f4f4f4;
    position: absolute;
    top: -16px;
    right: 22px;
    bottom: inherit;
    left: inherit;
}

#user-options-head {
	width: 250px;
	background: #f4f4f4;
	padding: 10px 20px;
	display: flex;
}

#user-options-head > div:last-child {
	color: #393939;
	font-size: 25px;
}

#user-options-head > div > p {
	color: #393939;
	font-weight: 600;
	margin: 0;
}

#text-user-name {
	font-size: 0.9em;
}

#text-user-position {
	font-size: 0.8em;
}

#user-options-body {
	width: 250px;
	background: #ffffff;
	padding: 10px 0;
}

#user-options-body > ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#user-options-body > ul > li {
	padding: 5px 20px;
	transition: 500ms;
	cursor: pointer;
}

#user-options-body > ul > li:hover {
	color: #444;
	background: #eee;
}

#user-options-body > ul > li > a {
	color: #555;
	font-size: 0.9em;
	font-weight: 500;
	text-decoration: none;
	display: block;
}

#content-container {
	height: 94%;
	position: fixed;
	overflow-y: auto;
}

#visitor-book-container {
	border-right: 2px solid #999999;
	padding: 0;
}

#room-map-container{
	padding: 0;
}

#visitor-book-header, #room-map-header {
	position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
	font-weight: 700;
	font-size: 14px;
	margin: 0;
	padding: 5px 20px;
	background: #494949;
	color: #ffffff;
	z-index: 10;
	box-shadow: 0 5px 5px gray;
	-webkit-box-shadow: 0 5px 5px gray;
	-moz-box-shadow: 0 5px 5px gray;
}

div[id^="visitor-book-item-"] {
	cursor: pointer;
	display: flex;
	padding: 15px 10px;
	border-bottom: 1px solid #d9d9d9;
}

div[id^="visitor-book-item-"] > p {
	max-height: 36px;
	background: #e53935;
	color: #ffffff;
	padding: 5px 15px;
	margin: 0 10px 0 0;
	line-height: 1.7;
}

div[id^="visitor-book-item-"] > div {
	width: 100%;
}

.visitor-book-item-info-container {
	display: flex;
}

.visitor-book-item-info-container >  p {
	font-weight: 600;
	color: #494949;
	margin: 0;
}

.visitor-book-item-status-container {
}

.visitor-book-item-status-container >  span {
	font-size: 12px;
	color: #777777;
	margin-right: 5px;
	padding: 1px 4px;
}

#room-map-body {
	padding: 40px 20px;
	background: #fff;
	margin: 20px;
	border: 1px solid #ddd;
	display: flex;
}

#room-map > tbody > tr > td {
	display: flex;
}

.room-table-occupied {
	background: #4caf50;
	color:#fff;
}

.room-table-row {
	width: 100%;
	margin: 0;
}

.room-table-rect {
	width: 10%;
	position: relative;
	border: 2px solid #4caf50;
	cursor: pointer;
}

.room-table-rect:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.room-table-none {
	width: 10%;
	position: relative;
}

.room-alley {
	padding: 20px 0;
}

.room-table-content {
	position: absolute;
	font-size: 12px;
	top: 10%;
	left: 30%;
}

@media screen and (min-width: 375px) {
    .room-table-content {
        top: 30%;
    	left: 40%;
    }
}

@media screen and (min-width: 480px) {
    .room-table-content {
        top: 40%;
    	left: 45%;
    }
}

.modal-content{
	border-radius: 0;
}

.modal-header {
	background: #393939;
	color: #fff;
	border-radius: 0;
}

.modal-title {
	font-size: 0.9em;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.close {
	color: #fff;
	opacity: 1;
}

.close:hover {
	color: #fafafa;
}

.modal-body {
	background: #fcfcfc;
}

.form-error-text {
	color: #cc3333;
	font-size: 0.8em;
	margin: 0;
}

.modal-buttons-container {
	display: flex;
	justify-content: flex-end;
	border-radius: 0;
}

.modal-buttons-container > button {
	border-radius: 0;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 0.9em;
	cursor: pointer;
}

.modal-buttons-container > :not(:last-child) {
    margin-right: .25em;
}

#footer {
   position: fixed;
   bottom: 0;
   width: 100%;
   height: 50px;
   background: #393939;
}

@media screen and (min-width: 576px) {
    #items-container > :first-child {
		border-bottom: none;
		border-right: 2px solid #aaa;
	}
}

@media screen and (min-width: 768px) {
    #order-summary-container {
    	border-bottom: none;
    	border-right: 2px solid #aaa;
    }

    #category-container {
    	margin-top: 0;
    }
}


/*menu.html styles*/

#menu-table-container {
	background: #fff;
	margin: 10px 0 20px;
	border: 2px solid #f1f1f1;
	padding: 10px 20px;
}

#btn-category-add, a[id^="item-add-btn-"] {
	font-weight: 600;
}

#btn-category-add, #btn-employee-add {
    margin-top: 20px;
}

a[id^='category-edit-'], a[id^='item-edit-'] {
	color: #007bff;
}

a[id^='category-delete-'], a[id^='item-delete-'] {
	color: #dc3545;
}