/* General CSS */

body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	background: #f9f9f9;
}

.navbar-border {
	box-shadow: 2px 2px 5px gray;
	-webkit-box-shadow: 2px 2px 5px gray;
	-moz-box-shadow: 2px 2px 5px gray;
}

.transition-500 {
	transition: 500ms;
}

.no-border-radius {
	border-radius: 0;
}

.btn-red {
	color: #fff;
	background: #e53935;
	border-color: #e53935;
	transition: 500ms;
}

.btn-red:hover {
	background: #c62828;
	border-color: #c62828;
}

.btn-flat-light {
	color: #fff;
	background: none;
	border-color: transparent;
	cursor: pointer;
	transition: 500ms;
}

.btn-flat-light:hover {
	color: #333;
	background: #fff;
	border-color: #fff;
}

.btn-flat-dark {
	color: #393939;
	background: none;
	border-color: transparent;
	cursor: pointer;
	transition: 500ms;
}

.btn-flat-dark:hover {
	color: #ffffff;
	background: #393939;
	border-color: #393939;
}

.navbar {
	padding-top: 0;
	padding-bottom: 0;
	background-color: #393939;
	z-index: 10;
}

.section-header {
	color: #555;
	font-size: 0.9em;
	font-weight: 600;
}

#navbar-back-navigation {
	color: #ffffff;
	margin-right: 12px;
	font-size: 20px;
}

.modal-content{
	border-radius: 0;
}

.modal-header {
	background: #393939;
	color: #fff;
	border-radius: 0;
}

.modal-title {
	font-size: 0.9em;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.close {
	color: #fff;
	opacity: 1;
}

.close:hover {
	color: #fafafa;
}

.modal-body {
	background: #fcfcfc;
}

.form-error-text {
	color: #cc3333;
	font-size: 0.8em;
	margin: 0;
}

.modal-buttons-container {
	display: flex;
	justify-content: flex-end;
	border-radius: 0;
	transition: 500ms;
}

.modal-buttons-container > button {
	border-radius: 0;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 0.9em;
	cursor: pointer;
}

.modal-buttons-container > :not(:last-child) {
    margin-right: .25em;
}

.custom-card-section-header {
	margin-top: 20px;
}

.custom-card-section-header > p {
	font-size: 0.9em;
	font-weight: 500;
	color: #666666;
	margin: 0;
}

.custom-card {
	background: #fff;
	margin: 5px 0 20px;
	padding: 20px 30px;
	border: 1px solid rgba(0,0,0,.125);
	border-radius: 0;
	box-shadow: 1px 1px 5px gray;
	-webkit-box-shadow: 1px 1px 5px gray;
	-moz-box-shadow: 1px 1px 5px gray;
}

.custom-card-space-top {
	margin-top: 15px;
}

.custom-card-head {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.custom-card-head-title {
	font-size: 1.5em;
	font-weight: 600;
	margin: 0;
}

.custom-card-body {
	margin-top: 10px;
}

.custom-card-buttons-container {
	display: flex;
	justify-content: flex-end;
	border-radius: 0;
	transition: 500ms;
}

.custom-card-buttons-container > button {
	border-radius: 0;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 0.9em;
	cursor: pointer;
}

.custom-card-buttons-container > :not(:last-child) {
    margin-right: .25em;
}

.info-container {
	margin-top: 8px;
}

.info-header {
	color: #555;
	font-size: 0.9em;
	font-weight: 600;
	margin: 0;
}

.info-content {
	color: #333;
	font-size: 1.1em;
	font-weight: 600;
	margin: 0;
}

#footer {
   position: fixed;
   bottom: 0;
   width: 100%;
   height: 50px;
   background: #393939;
}

.chip {
    display: inline-block;
	color: #555;
    background-color: #e5e5e5;
    font-weight: 600;
    font-size: 0.9em;
    padding: 0 10px;
    border-radius: 1em;
}

span[id^="btn-close-chip-"] {
    color: #888;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    float: right;
    cursor: pointer;
    transition: 500ms;
}

.btn-close-chip:hover {
    color: #444;
}

/* pos.html styles */

#btn-orders {
	font-size: 0.8em;
	font-weight: 500;
	margin: 4px 5px 0 0;
	text-transform: uppercase;
	border-radius: 0;
	letter-spacing: 1px;
}

#user-options-container {
	width:250px;
	display: none;
	position: absolute;
	margin-left: -200px;
	z-index: 100;
	border: 1px solid #f4f4f4;
	box-shadow: 2px 2px 5px gray;
	-webkit-box-shadow: 2px 2px 5px gray;
	-moz-box-shadow: 2px 2px 5px gray;
}

#user-options-container:before {
    content: "";
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-bottom-color: #f4f4f4;
    position: absolute;
    top: -16px;
    right: 22px;
    bottom: inherit;
    left: inherit;
}

#user-options-head {
	width: 250px;
	background: #f4f4f4;
	padding: 10px 20px;
	display: flex;
}

#user-options-head > div:last-child {
	color: #393939;
	font-size: 25px;
}

#user-options-head > div > p {
	color: #393939;
	font-weight: 600;
	margin: 0;
}

#text-user-name {
	font-size: 0.9em;
}

#text-user-position {
	font-size: 0.8em;
}

#user-options-body {
	width: 250px;
	background: #ffffff;
	padding: 10px 0;
}

#user-options-body > ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#user-options-body > ul > li {
	padding: 5px 20px;
	transition: 500ms;
	cursor: pointer;
}

#user-options-body > ul > li:hover {
	color: #444;
	background: #eee;
}

#user-options-body > ul > li > a {
	color: #555;
	font-size: 0.9em;
	font-weight: 500;
	text-decoration: none;
	display: block;
}

#content-container {
	position: fixed;
	height: 95%;
	padding-top: 10px;
	background: #fff;
	overflow-y: auto;
}

#order-summary-container {
	border-right: none;
    border-bottom: 2px solid #aaa;
}

#table-order-summary {
	color: #444;
	line-height: 1.3;
}

#table-order-summary thead th {
	border-bottom: none;
}

#table-order-summary td, #table-order-summary th {
	border-top: none;
}

#order-btn-container {
	margin-bottom: 20px;
}

.order-btn-options {
	text-transform: uppercase;
	font-weight: 600;
	transition: 500ms;
	letter-spacing: 2px;
}

#category-container {
	border-bottom: 2px solid #aaa;
	margin-top: 10px;
}

#items-container > div {
	margin-top: 10px;
}

#items-container > :first-child {
	border-bottom: 2px solid #aaa;
}

.btn-menu {
    margin-right: 5px;
    margin-bottom: 10px;
    transition: 500ms;
    cursor: pointer;
}

#orders-container {
	margin-bottom: 15px;
}

div[id^="order-info-"] {
	padding: 5px 10px;
	transition: 300ms;
}

.order-header {
	display: flex;
	justify-content: space-between;
	padding: 5px 0;
}

.order-header > p {
	color: #333;
	font-weight: 600;
	margin: 0;
}

div[id^="order-body-"] > p {
	color: #555;
	font-size: 0.9em;
	font-weight: 500;
	margin: 0;
}

span[id^="order-info-edit-"] {
	margin-left: 10px;
	cursor: pointer;
}

@media screen and (min-width: 576px) {
    #items-container > :first-child {
		border-bottom: none;
		border-right: 2px solid #aaa;
	}
}

@media screen and (min-width: 768px) {
    #order-summary-container {
    	border-bottom: none;
    	border-right: 2px solid #aaa;
    }

    #category-container {
    	margin-top: 0;
    }
}

/*menu.html styles*/

.page-header {
	font-weight: 600;
	margin: 20px 0 0 15px;
}

#menu-table-container {
	background: #fff;
	margin: 10px 0 20px;
	border: 2px solid #f1f1f1;
	padding: 10px 20px;
}

#btn-category-add, a[id^="item-add-btn-"] {
	font-weight: 600;
}

#btn-category-add, #btn-employee-add {
    margin-top: 20px;
}

a[id^='category-edit-'], a[id^='item-edit-'] {
	color: #007bff;
}

a[id^='category-delete-'], a[id^='item-delete-'] {
	color: #dc3545;
}

/*reports.html styles*/

#sales-info-table{
	margin-top: 15px;
}

#sales-info-table > thead > tr > th, #sales-info-table > tbody > tr > td {
	text-align: center;
	border: none;
}

#sales-info-table > tbody > tr > th, #category-sales-table > thead > tr > th, #category-sales-table > tbody > tr > th, #category-sales-table > tbody > tr > td, #outlet-sales-table > thead > tr > th, #outlet-sales-table > tbody > tr > th, #outlet-sales-table > tbody > tr > td {
	border: none;
}

#hot-items-container > p {
	margin-bottom: 5px;
}

.hot-item-count, .hot-item-name {
	font-weight: 500;
}

.hot-item-name {
	margin-left: 10px;
}

#hot-items-time-select, #sale-by-category-time-select, #sale-by-outlet-time-select {
	border: none;
	font-weight: 500;
}

/*orderHistory.html styles*/

#order-history-search-container {
	margin-top: 20px;
	margin-bottom: 20px;
}

#input-search-order-history {
	border: 1px solid #ccc;
}

#btn-search-order-history {
	font-size: 1.2em;
	font-weight: 600;
	letter-spacing: 1px;
	text-transform: uppercase;
	cursor: pointer;
}

#order-history-search-filter-container {
	margin-top: 5px;
	display: flex;
	justify-content: space-between;
}

#order-history-search-filter {
	font-size: 0.9em;
	font-weight: 500;
	float: right;
	text-decoration: none;
}

#order-history-search-filter:hover {
	color: #007bff;
}

#customer-table-container {
	background: #fff;
	margin: 10px 0 20px;
	border: 2px solid #f1f1f1;
	padding: 10px 20px;
}

#order-history-table > thead > tr > th, #receipt-table > thead > tr > th, #receipt-table > tbody > tr > th, #receipt-table > tbody > tr > td {
	border: none;
}

td[id^="receipt-item-quantity-"], td[id^="receipt-item-amount-"] {
	text-align: center;
}